simulation/work/
*.qdb
*.qpg
*.qtl
simulation/
simulation/work/_lib.qdb
simulation/work/_info
synthesis/
cadence/
hdl/individual_cores/MTNCL_SF_Core_Top_Level_wo_sram_lines_BE_buffered.v
simulation/vsim.wlf
simulation/work/_info
simulation/work/_lib.qdb
